name: Docker Image CI

on:
  workflow_dispatch:
  schedule:
    - cron: "11 11 */8 * *"
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"

permissions:
  actions: write
  contents: read
  packages: write

env:
  DOCKER_BASE_NAME: ghcr.io/peaceiris/mdbook
  DOCKER_HUB_BASE_NAME: peaceiris/mdbook

jobs:
  hadolint:
    uses: peaceiris/workflows/.github/workflows/hadolint.yml@v0.12.0

  push:
    runs-on: ubuntu-20.04
    needs: hadolint
    strategy:
      matrix:
        baseimage:
          - "alpine:3.14"
          - "rust:1.55-alpine3.14"
    env:
      DOCKER_CLI_EXPERIMENTAL: enabled
      DOCKER_BUILDKIT: 1
    steps:
      - uses: actions/checkout@v3

      - name: Set env
        run: |
          MDBOOK_VERSION="$(make get-mdbook-version)"
          TAG_NAME="v${MDBOOK_VERSION}"
          TAG_NAME_LATEST="latest"
          if [ "${{ startsWith( matrix.baseimage, 'rust:') }}" = "true" ]; then
              export TAG_NAME="${TAG_NAME}-rust"
          fi
          {
            echo "TAG_NAME=${TAG_NAME}"
            echo "MDBOOK_VERSION=${MDBOOK_VERSION}"
            echo "PKG_TAG=${DOCKER_BASE_NAME}:${TAG_NAME}"
            echo "PKG_TAG_LATEST=${DOCKER_BASE_NAME}:${TAG_NAME_LATEST}"
            echo "HUB_TAG=${DOCKER_HUB_BASE_NAME}:${TAG_NAME}"
            echo "HUB_TAG_LATEST=${DOCKER_HUB_BASE_NAME}:${TAG_NAME_LATEST}"
          } >> "${GITHUB_ENV}"

      - run: docker version

      - name: Build ${{ matrix.baseimage }} base image
        run: |
          DOCKER_SCOPE="docker-${TAG_NAME}"
          docker buildx create --use --driver docker-container
          docker buildx build . \
              --tag "${PKG_TAG}" \
              --build-arg MDBOOK_VERSION="${MDBOOK_VERSION}" \
              --build-arg BASE_IMAGE="${{ matrix.baseimage }}" \
              --cache-from "type=gha,scope=${DOCKER_SCOPE}" \
              --cache-to "type=gha,mode=max,scope=${DOCKER_SCOPE}" \
              --output 'type=docker'
          docker tag "${PKG_TAG}" "${HUB_TAG}"
          docker tag "${PKG_TAG}" "${PKG_TAG_LATEST}"
          docker tag "${HUB_TAG}" "${HUB_TAG_LATEST}"

      - run: docker images
      - run: docker run --rm "${PKG_TAG}" --version

      - name: Login to Registries
        if: ${{ github.event_name != 'pull_request' }}
        env:
          DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u peaceiris --password-stdin
          echo "${DOCKER_HUB_TOKEN}" | docker login -u peaceiris --password-stdin

      - name: Push to GitHub Packages
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          docker push "${PKG_TAG}"
          docker push "${PKG_TAG_LATEST}"

      - name: Push to Docker Hub
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          docker push "${HUB_TAG}"
          docker push "${HUB_TAG_LATEST}"
