name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "!**.md"
      - ".github/workflows/ci.yml"
      - "deps/Cargo.*"
      - ".dockerignore"
      - "Dockerfile"
      - "Makefile"
  pull_request:
    paths:
      - "!**.md"
      - ".github/workflows/ci.yml"
      - "deps/Cargo.*"
      - ".dockerignore"
      - "Dockerfile"
      - "Makefile"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  IS_PULL_REQUEST: ${{ github.event_name == 'pull_request' }}

jobs:
  docker:
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 20
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: true
      matrix:
        runner:
          - "ubuntu-24.04"
          - "ubuntu-24.04-arm"
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - run: make login
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}

      - run: make build
      - run: make test
      - run: make test-build

  merge:
    if: ${{ github.event_name != 'pull_request' }}
    needs: docker
    runs-on: ubuntu-24.04
    timeout-minutes: 2
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - run: make login
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}

      - run: make merge

  test:
    if: ${{ github.event_name != 'pull_request' }}
    needs: merge
    runs-on: ubuntu-24.04
    timeout-minutes: 1
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - run: make test-build-with-latest
