name: mdbook

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/mdbook.yml"
      - "examples/**"
      - "Makefile"
  pull_request:
    paths:
      - ".github/workflows/mdbook.yml"
      - "examples/**"
      - "Makefile"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 1
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - run: make compose-build
