name: mdbook

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/mdbook.yml"
      - "examples/**"
      - "Makefile"
  pull_request:
    paths:
      - ".github/workflows/mdbook.yml"
      - "examples/**"
      - "Makefile"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 1
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - run: make compose-build
