name: Docker Image CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  release:
    types: [published]
  pull_request:
    paths-ignore:
      - "**.md"
  workflow_dispatch:

env:
  DOCKER_BASE_NAME: ghcr.io/peaceiris/mdbook
  DOCKER_HUB_BASE_NAME: peaceiris/mdbook

jobs:
  skipci:
    runs-on: ubuntu-18.04
    steps:
      - run: echo "[skip ci] ${{ contains(github.event.head_commit.message, '[skip ci]') }}"

  hadolint:
    runs-on: ubuntu-18.04
    if: contains(github.event.head_commit.message, '[skip ci]') == false
    container:
      image: 'hadolint/hadolint:v1.18.2-alpine'
    steps:
      - uses: actions/checkout@v2
      - run: hadolint ./Dockerfile

  push:
    runs-on: ubuntu-18.04
    if: contains(github.event.head_commit.message, '[skip ci]') == false
    needs: hadolint
    strategy:
      matrix:
        baseimage:
          - "alpine:3.12"
          - "rust:1.44-alpine3.12"
    steps:
      - uses: actions/checkout@v2

      - name: Set env
        run: |
          if [ "${{ github.event_name }}" = 'release' ]; then
              export TAG_NAME="${{ github.event.release.tag_name }}"
          else
              export TAG_NAME="latest"
          fi
          if [ "${{ startsWith( matrix.baseimage, 'rust:') }}" = "true" ]; then
              export TAG_NAME="${TAG_NAME}-rust"
          fi
          echo "PKG_TAG=${DOCKER_BASE_NAME}:${TAG_NAME}" >> ${GITHUB_ENV}
          echo "HUB_TAG=${DOCKER_HUB_BASE_NAME}:${TAG_NAME}" >> ${GITHUB_ENV}

      - name: Build ${{ matrix.baseimage }} base image
        run: |
          docker build . -t "${PKG_TAG}" --build-arg BASE_IMAGE="${{ matrix.baseimage }}"
          docker tag "${PKG_TAG}" "${HUB_TAG}"

      - run: docker images
      - run: docker run --rm ${PKG_TAG} --version

      - name: Login to Registries
        if: github.event_name != 'pull_request'
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
          DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
        run: |
          echo "${GH_PAT}" | docker login ghcr.io -u peaceiris --password-stdin
          echo "${DOCKER_HUB_TOKEN}" | docker login -u peaceiris --password-stdin

      - name: Push to GitHub Packages
        if: github.event_name != 'pull_request'
        run: docker push "${PKG_TAG}"

      - name: Push to Docker Hub
        if: github.event_name != 'pull_request'
        run: docker push "${HUB_TAG}"
