name: Update Docker Image

on:
  push:
    branches:
      - update-image
  pull_request:
    paths-ignore:
      - "**.md"
  schedule:
    - cron: "11 11 */8 * *"
  workflow_dispatch:

permissions:
  actions: write
  contents: read
  packages: write

env:
  DOCKER_BASE_NAME: ghcr.io/peaceiris/mdbook
  DOCKER_HUB_BASE_NAME: peaceiris/mdbook

jobs:
  update:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        baseimage:
          - "alpine:3.14"
          - "rust:1.55-alpine3.14"
        version:
          - "0.4.13"
          - "0.3.7"
    env:
      DOCKER_CLI_EXPERIMENTAL: enabled
      DOCKER_BUILDKIT: 1
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Set env
        run: |
          export TAG_NAME="v${{ matrix.version }}"
          if [ "${{ startsWith( matrix.baseimage, 'rust:') }}" = "true" ]; then
              export TAG_NAME="${TAG_NAME}-rust"
          fi
          echo "PKG_TAG=${DOCKER_BASE_NAME}:${TAG_NAME}" >> "${GITHUB_ENV}"
          echo "HUB_TAG=${DOCKER_HUB_BASE_NAME}:${TAG_NAME}" >> "${GITHUB_ENV}"

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx

      - run: docker version

      - name: Build ${{ matrix.baseimage }} base image
        run: |
          docker buildx create --use --driver docker-container
          docker buildx build . \
              --tag "${PKG_TAG}" \
              --build-arg BASE_IMAGE="${{ matrix.baseimage }}" \
              --build-arg MDBOOK_VERSION="${{ matrix.version }}" \
              --cache-from 'type=local,src=/tmp/.buildx-cache' \
              --cache-to 'type=local,mode=max,dest=/tmp/.buildx-cache-new' \
              --output 'type=docker'
          docker tag "${PKG_TAG}" "${HUB_TAG}"

      - name: Replace cache dir
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

      - run: docker run --rm "${PKG_TAG}" --version
      - run: docker images

      - name: Login to Registries
        if: ${{ github.ref == 'refs/heads/main' }}
        env:
          DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u peaceiris --password-stdin
          echo "${DOCKER_HUB_TOKEN}" | docker login -u peaceiris --password-stdin

      - name: Push to GitHub Packages
        if: ${{ github.ref == 'refs/heads/main' }}
        run: docker push "${PKG_TAG}"

      - name: Push to Docker Hub
        if: ${{ github.ref == 'refs/heads/main' }}
        run: docker push "${HUB_TAG}"
